:root {
    /* Цвета страницы */
    --green: #B9FF66;
    --black: #191A23;
    --gray: #F3F3F3;
    --gray-lite: #898989;
    --white: #FFFFFF;
    --dark-full: #000000;
    --dark-gray: #292A32;
    
    /* Размер и отступы контейнера */
    --desctop-size: 1240px;
    --phone-size: 100%;
    --container-size: var(--desctop-size);

    --desctop-padding: 15px;
    --phone-padding: 20px;
    --container-padding: 0px;
}